<!-- MENU LATERAL -->
<ion-menu contentId="main-content" class="menu-panel">

  <ion-header>
    <ion-toolbar style="--background:#e91e63; --color:white;">
      <ion-title>Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <!-- PERFIL -->
    <div class="profile-section">

      <ion-avatar class="profile-avatar">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
      </ion-avatar>

      <h2>Conductor</h2>
      <p>Sistema de recorridos</p>

    </div>

    <!-- OPCIONES -->
    <ion-list class="menu-list">

      <ion-item button (click)="verPerfil()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Ver perfil</ion-label>
      </ion-item>

      <ion-item button (click)="verMapa()">
        <ion-icon name="map-outline" slot="start"></ion-icon>
        <ion-label>Ver mapa</ion-label>
      </ion-item>

      <ion-item button (click)="historial()">
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-item>

      <ion-item button (click)="reportes()">
        <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
        <ion-label>Reportes</ion-label>
      </ion-item>


      <ion-item button (click)="configuracion()">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-item>


    </ion-list>

  </ion-content>

</ion-menu>


<!-- CONTENIDO PRINCIPAL -->
<div id="main-content" class="main-container">

  <ion-header>
    <ion-toolbar style="--background:#e91e63; --color:white;">

      <ion-buttons slot="start">
        <!-- RAYITAS DEL MENU EN BLANCO -->
        <ion-menu-button style="color:white;"></ion-menu-button>
      </ion-buttons>

      <ion-title>Panel de Opciones</ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-content class="dashboard-content">

    <!-- TARJETA BIENVENIDA -->
    <ion-card class="welcome-card">

      <ion-card-header>

        <ion-card-title>
          <ion-icon name="car-outline"></ion-icon>
          Bienvenido
        </ion-card-title>

        <ion-card-subtitle>
          Gestión inteligente de recorridos
        </ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        Utilice el botón ☰ para abrir el menú lateral y acceder a las funciones del sistema.
      </ion-card-content>

    </ion-card>

    <!-- ACCIONES RAPIDAS -->
    <div class="quick-actions">

      <ion-button expand="block" fill="outline" class="action-outline" (click)="verMapa()">
        <ion-icon name="map-outline" slot="start"></ion-icon>
        Ver mapa
      </ion-button>

    </div>

  </ion-content>

</div>