.dashboard-content {
  --background: #f5f6fa;
  padding: 15px;
}

/* TARJETA */
.welcome-card {
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

/* BOTONES PRINCIPALES */
.btn-main {
  height: 90px;
  --background: white;
  --color: #e91e63;
  --border-radius: 15px;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* ICONOS GRANDES */
.btn-main ion-icon {
  font-size: 26px;
}

/* BOTÓN SECUNDARIO */
.btn-secondary {
  margin-top: 10px;
  height: 50px;
  --background: #e91e63;
  --color: white;
  --border-radius: 12px;
}