<ion-header>
  <ion-toolbar class="main-toolbar">
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="reset-content">

  <!-- Icono y título -->
  <div class="logo-container">
    <ion-icon name="lock-closed-outline"></ion-icon>
    <h1 class="app-title">Nueva contraseña</h1>
    <p class="app-subtitle">Ingresa tu nueva contraseña segura</p>
  </div>

  <!-- Tarjeta -->
  <div class="form-card">

    <ion-item class="input-item">
      <ion-icon name="key-outline" slot="start"></ion-icon>

      <ion-input
        type="password"
        placeholder="Nueva contraseña"
        [(ngModel)]="password">
      </ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>

      <ion-input
        type="password"
        placeholder="Confirmar contraseña"
        [(ngModel)]="confirmPassword">
      </ion-input>
    </ion-item>

    <ion-button expand="block" class="reset-btn" (click)="updatePassword()">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      Cambiar contraseña
    </ion-button>

  </div>

</ion-content>