.register-content {
  --background: #f7f7f7;
}

/* 🔥 ESTE ES EL TRUCO REAL EN IONIC */
ion-content::part(scroll) {
  display: flex;
  justify-content: center;   /* centra horizontal */
  align-items: center;       /* centra vertical */
  min-height: 100%;
}

/* CONTENEDOR */
.form-wrapper {
  width: 100%;
  max-width: 420px;
  padding: 20px;
}

/* LOGO */
.logo-container {
  text-align: center;
  margin-bottom: 20px;

  ion-icon {
    font-size: 60px;
    color: #e91e63;
  }

  .app-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }

  .app-subtitle {
    color: #777;
    font-size: 14px;
  }
}

/* TARJETA */
.form-card {
  width: 100%;
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.input-item {
  --border-radius: 12px;
  margin-bottom: 15px;
}

.error-message {
  font-size: 12px;
  margin-left: 10px;
}

/* BOTONES */
.register-btn {
  margin-top: 20px;
  height: 50px;
  --border-radius: 12px;
  --background: #e91e63;
  font-weight: bold;
}

.login-btn {
  margin-top: 10px;
  --color: #e91e63;
  font-weight: 500;
}