<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Conductor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="full" (click)="obtenerUbicacion()">
    📍 Obtener Ubicación
  </ion-button>

  <div *ngIf="latitud">
    <p><strong>Latitud:</strong> {{ latitud }}</p>
    <p><strong>Longitud:</strong> {{ longitud }}</p>
  </div>

  <ion-button expand="full" color="success" (click)="tomarFoto()">
    📷 Tomar Foto
  </ion-button>

  <div *ngIf="foto">
    <img [src]="foto" style="margin-top: 20px; width: 100%; border-radius: 10px;">
  </div>
<ion-button expand="full" color="warning" (click)="validarBiometria()">
  🔐 Validar Identidad
</ion-button>

<ion-button 
  expand="full" 
  color="success" 
  (click)="iniciarRecorrido()" 
  [disabled]="!biometriaValidada || recorridoActivo">

  🚗 Iniciar Recorrido
</ion-button>

<ion-button 
  expand="full" 
  color="danger" 
  (click)="finalizarRecorrido()" 
  [disabled]="!recorridoActivo">

  🛑 Finalizar Recorrido
</ion-button>

<div id="map" style="height: 400px; margin-top: 20px;"></div>

</ion-content>