<ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item *ngIf="cargandoDatos">
    <ion-label>Cargando datos...</ion-label>
    <ion-spinner slot="end"></ion-spinner>
  </ion-item>

  <ion-item *ngIf="errorMessage">
    <ion-label color="danger">{{ errorMessage }}</ion-label>
  </ion-item>

  <!-- VEHICULO -->

  <ion-item>
    <ion-label>Vehículo</ion-label>

    <ion-select [(ngModel)]="vehiculoSeleccionado">

      <ion-select-option
        *ngFor="let v of vehiculos"
        [value]="v">

        {{ v.placa || v.nombre }}

      </ion-select-option>

    </ion-select>
  </ion-item>

  <!-- 🛣 RUTA -->

<ion-item>
  <ion-label>Ruta</ion-label>

  <ion-select [(ngModel)]="rutaSeleccionada">

    <ion-select-option
      *ngFor="let r of rutas"
      [value]="r">

      <span
        style="display:inline-block;
        width:10px;
        height:10px;
        border-radius:50%;
        margin-right:8px;"
        [style.background]="r.color_hex || '#3880ff'">
      </span>

      {{ r.nombre_ruta }}

    </ion-select-option>

  </ion-select>

</ion-item>

  <!-- CALLES -->

  <ion-item>

    <ion-label>Calle</ion-label>

    <ion-select [(ngModel)]="calleSeleccionada">

      <ion-select-option
        *ngFor="let c of calles"
        [value]="c">

        {{ c.nombre }}

      </ion-select-option>

    </ion-select>

  </ion-item>

  <ion-button expand="block" (click)="continuar()">
    Iniciar Recorrido
  </ion-button>

</ion-content>