:root {

  --ion-color-primary: #e91e63;
  --ion-color-primary-rgb: 233,30,99;
  --ion-color-primary-contrast: #ffffff;

  --ion-color-secondary: #10b981;
  --ion-color-secondary-rgb: 16,185,129;

  --ion-color-success: #22c55e;
  --ion-color-warning: #f59e0b;
  --ion-color-danger: #ef4444;

  --ion-background-color: #f5f7fb;
}