<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      label="Email"
      label-placement="floating"
      name="email"
      type="email"
      [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Contraseña"
      label-placement="floating"
      name="password"
      type="password"
      [(ngModel)]="password">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-select
      label="Tipo de usuario"
      name="rol"
      [(ngModel)]="rol">

      <ion-select-option value="ciudadano">
        Ciudadano
      </ion-select-option>

      <ion-select-option value="conductor">
        Conductor
      </ion-select-option>

    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="register()">
    Registrarse
  </ion-button>

  <ion-button expand="block" fill="clear" routerLink="/login">
    Ya tengo cuenta
  </ion-button>

</ion-content>