<ion-header>
  <ion-toolbar class="main-toolbar">
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="reset-content">

  <!-- Logo / título -->
  <div class="logo-container">
    <ion-icon name="key-outline"></ion-icon>
    <h1 class="app-title">Recuperar acceso</h1>
    <p class="app-subtitle">Ingresa tu correo para restablecer tu contraseña</p>
  </div>

  <!-- Tarjeta -->
  <div class="form-card">

    <ion-item class="input-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>

      <ion-input
        type="email"
        placeholder="Ingresa tu correo"
        [(ngModel)]="email">
      </ion-input>
    </ion-item>

    <ion-button expand="block" class="reset-btn" (click)="reset()">
      <ion-icon name="send-outline" slot="start"></ion-icon>
      Enviar recuperación
    </ion-button>

    <ion-button expand="block" fill="clear" routerLink="/login" class="back-btn">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Volver al login
    </ion-button>

  </div>

</ion-content>